{% load static %}
<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Document</title>
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
 </head>
 <body>
     <script src="/static/js/jquery-1.11.3.js"></script>
     <script src="/static/js/index.js"></script>
  <div class="container">
		<!-- 1、网页头部 -->
		<div id="top">
			<!-- 1.1 右：列表 -->
			<ul id="list">
				<li>
					<a href="/login/" id="i1">[登录]</a>
					,
					<a href="/register/" id="i2">[注册有惊喜]</a>
				</li>
				<li>
					<b></b>
					果园公告
				</li>
				<li>
					<b></b>
					<a href="#">券卡兑换</a>
				</li>
				<li>
					<b></b>
					手机果园
				</li>
			</ul>
			<!-- 1.2 左：三个超链接 -->
			<!-- 1.2.1 上海 -->
			<a href="#" class="address">
				上海 
				<u></u>
			</a>
			<!-- 1.2.2 满百包邮 -->
			<a>满百包邮(环郊内)</a>
			<!-- 1.2.3 星夜达 -->
			<a href="#" class="xing">星夜达</a>
		</div>
        <div id="mycart">
            <a href="#">我的购物车</a>
        </div>
		<!-- 2、LOGO 和 热门搜索 -->
		<!-- 3、BANNER广告(横幅广告) -->
		<div id="banner">
			<img src="/static/images/banner1.jpg">
		</div>
		<!-- 4、四幅小广告 -->
		<ul id="adv-img">
			<li>
				<a href="#">
					<img src="/static/images/2ba20598135dbba5e97d241ebfa167d9.jpg">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/static/images/25af37592bf484fbeaef1cc4ff1e09c7.jpg">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/static/images/904419aa2e364412b3c07c3cbda24ef9.jpg">
				</a>
			</li>
			<li class="no-margin">
				<a href="#">
					<img src="/static/images/d72b849b461c08d991c265df00a1bfde.jpg">
				</a>
			</li>
		</ul>
		<!-- 5、网页主体内容(各种产品) -->
		<div id="main">
			<!-- 5.1 礼品卡券 -->
			<div class="item">
				<!-- 5.1.1 上方 ：标题 + 更多 -->
				<p class="title">
					<a href="#">更多</a>
					<img src="/static/images/t4.png">
				</p>
				<!-- 5.1.2 下方 ：内容 -->
				<ul>
					<li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
					<li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li class="no-margin">
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
					<li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li class="no-margin">
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
				</ul>
			</div>
			<!-- 5.2 家庭量贩 -->
			<div class="item">
				<!-- 5.1.1 上方 ：标题 + 更多 -->
				<p class="title">
					<a href="#">更多</a>
					<img src="/static/images/t4.png">
				</p>
				<!-- 5.1.2 下方 ：内容 -->
				<ul>
					<li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
					<li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li class="no-margin">
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
					<li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li>
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
                    <li class="no-margin">
						<!-- 上 ：图像 -->
						<p>
							<img src="/static/images/1-270x270-3877-BXDY6KCU.jpg">
						</p>
						<!-- 下 ：文本 -->
						<div class="content">
							<!-- 右：购物车图标 -->
							<a href="#" class="cart">
								<img src="/static/images/cart.png">
							</a>
							<!-- 左上：商品名称 -->
							<p>
								欢乐时光水果礼篮
							</p>
							<!-- 左下：价格 + 规格 -->
							<span>
								&yen;188.00/1份
							</span>
						</div>
					</li>
				</ul>
			</div>
			<!-- 5.3 全球鲜果 -->
			<!-- 5.4 生鲜美食 -->
		</div>
		<!-- 5、网页主体内容结束-->
		<!-- 6、网页底部 -->
	</div>
 </body>
</html>
