<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">
    {% block style %}
    {% endblock %}
</head>
<body>
    {% if err %}
        <script>
            alert('用户名或密码不正确')
        </script>
    {% endif %}
	<div id="container">
		<h2>
            <!-- 声明允许被子模板中修改的内容 -->
            {% block title %}
                会员登录
            {% endblock %}
        </h2>
		<div class="left">
			<img src="/static/images/huiyuan.jpg">
            {% block link %}
			    <a href="/register">会员注册></a>
            {% endblock %}
		</div>
		<div class="right">
            {% block form %}
			<form action="/login/" method="post">
                {% csrf_token %}
				<!--
                <p>
					<span class="spanText">手机号</span>
					<input type="text" name="uphone" class="uText">
				</p>
				<p>
					<span class="spanText">密码</span>
					<input type="password" name="upwd" class="uText" placeholder="请输入6-20位号码字符">
				</p>
				-->
                {% for field in form %}
                    <p>
                        <span class="spanText">{{ field.label }}</span>
                        {{ field }}
                    </p>
                {% endfor %}
				<p>
					<span class="spanText"></span>
					<span class="isSaved">
						<input type="checkbox" name="isSaved" checked>记住密码
					</span>
					<span class="forget">
						<a href="#">忘记密码</a>
						<a href="#">快捷登录</a>
					</span>
				</p>
				<p>
					<span class="spanText"></span>
					<input type="submit" name="login" class="login">
					<input type="button" name="regist" class="regist" value="注册会员">
				</p>
			</form>
            {% endblock %}
		</div>
	</div>
</body>
</html>