{% extends 'login.html' %}

{% block title %}
    注册会员
{% endblock %}

{% block link %}
    <a href="/login">会员登录</a>
{% endblock %}

{% block form %}

    <form action="/register/" method="post" id="submit">
        {% csrf_token %}
        <p>
            <span class="spanText">手机号</span>
            <input type="text" name="uphone" class="uText">
            <br>
            <span id="phone"></span>
        </p>
        <p>
            <span class="spanText">密码</span>
            <input type="password" name="upwd" class="uText">
            <br>
            <span id="pwd"></span>
        </p>
        <p>
            <span class="spanText">确认密码</span>
            <input type="password" id="cpwd" class="uText">
            <br>
            <span id="agpwd"></span>
        </p>
        <p>
            <span class="spanText">用户名</span>
            <input type="text" name="uname" class="uText">
            <br>
            <span id="name"></span>
        </p>
        <p>
            <span class="spanText">邮箱</span>
            <input type="email" name="uemail" class="uText">
            <br>
            <span id="email"></span>
        </p>
        <p>
            <span class="spanText"></span>
            <input type="submit" name="login" class="login" value="注册">
            <input type="button" name="regist" class="regist" value="会员登录" onclick="location.href='/login'">
            <br>
            <sapn id="s"></sapn>
        </p>
    </form>
{% endblock %}

{% block style %}
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/register.js"></script>
    <style>
        .right{
            margin-top:20px;
        }
    </style>
{% endblock %}











